@media screen and (max-width: 2561px){
    .container {
        padding-top: 2%;
    }
}

@media screen and (max-width: 1441px){

    .bottom_block {
        height: 45%;
    }

    .top_container {
        height: 35%;
    }

    .img_1{
        width: 400px;
        height: 200px;
    }

    .img_2{
        width: 400px;
        height: 200px;
    } 
}

@media screen and (max-width: 1175px){
    .text_title{
        font-size: 35px;
    }

    .text_block{
        font-size: 15px;
        margin-top: 20px;
    }

    .img_1{
        width: 300px;
        height: 150px;
        bottom: -20px;
    }

    .img_2{
        width: 300px;
        height: 150px;
    } 

    .top_footer{
        height: 90%;
    }

    .bottom_block {
        height: 50%;
    }

    .top_container{
        height: 20%;
    }
    
    .logo{
        font-size: 70%;
    }

    .menu_header{
        height: 70%;
        width: 60%;
    }

    .login_btn a{
        padding: 5px;
        font-size: 25px;
        border-radius: 10px;
    }

    .menu a{
        font-family: "Montserrat", sans-serif;
        text-decoration: none;
        display: flex;
        margin-left: 15px; 
        font-size: 20px;
    }

    .info_block_c_block{
        font-size: 25px;
    }

    .gif_bblock{
        height: 250px;
        width: 250px;
    }
}

@media screen and (max-width: 865px){
    .top_container{
        height: 15%;
    }

    .img_1{
        left: -70px;
        width: 200px;
        height: 100px;
        bottom: -20px;
    }

    .img_2{
        left: 20px;
        width: 200px;
        height: 100px;
    } 

    .text_block{
        font-size: 10px;
    }
    
    .text_title{
        font-size: 25px;
    }

    .login_btn a{
        font-size: 20px;
    }

    .logo a{
        font-size: 135%;
    }

    .menu a{
        font-size: 15px;
    }
}

@media screen and (max-width: 500px){

    .top_container{
        height: 18%;
    }

    .img_1{
        left: -10px;
        width: 150px;
        height: 80px;
        bottom: -20px;
    }

    .img_2{
        left: 10px;
        width: 150px;
        height: 80px;
    } 


    .logo{
        padding-left: 10px;
    }

    .menu_header{
        margin-left: 5%;
        width: 85%;
    }

    .menu{
        font-size: 10px;
    }

    .menu a{
        font-size: 10px;
    }
}

@media screen and (max-width: 340px){

    .img_1{
        visibility: hidden;
    }

    .img_2{
        visibility: hidden;
    } 


    .logo{
        font-size: 59%;
    }

    .menu_header{
        margin-left: 5%;
        width: 85%;
    }

    .menu{
        font-size: 10px;
    }

    .menu a{
        margin-left: 5px;
        font-size: 10px;
    }

    .login_btn a{
        margin-left: -10px;
        font-size: 15px;
    }
}

