*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: blanchedalmond;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: blanchedalmond;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(221, 207, 187);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.content{
    height: calc(100vh + 80px);
}

.header{
    z-index: 1;
    align-items: center;
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    backdrop-filter: blur(20px);
    border-bottom: solid rgba(53, 53, 53, 0.151) 0.1px;
}

.logo{
    margin-left: 8%;
}

.logo a{
    font-family: "Dela Gothic One", sans-serif;
    text-decoration: none;
    color: rgb(112, 112, 112);
}

.logo a:hover{
    position: relative;
    top: 1px;
    color: rgba(112, 112, 112, 0.87);
}

.hr-top{
    height: 300px;
    width: 100%;
}

.hr-block-t{
    width: 100%;
    height: 30%;
}

.hr-block-m{
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50%;
}

.hr-block-m span{
    font-size: 30px;
    font-family: "Oswald", sans-serif;
}

.hr-block-b{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 20%;
    margin: 0 auto;
}

.hr-block-b div{
    font-size: clamp(1.125rem, 0.8023rem + 1.2064vw, 2.25rem);
    line-height: 1.5;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: running-animation 10s linear infinite;
    white-space: nowrap;
}

@keyframes running-animation {
    0% {
        transform: translateZ(0);
    }
 
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.top-content{
    height: 300px;
    width: 100%;
}

.meddle-content{
    bottom: 20px;
    height: 400px;
    width: 100%;
}

.block-top{
    display: flex;
    height: 400px;
    width: 100%;
    background-color: rgb(226, 205, 173);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.text-left{
    margin-right: 30%;
    position: relative;
    text-align: center;
    padding-left: 10px;
    bottom: -40px;
    width: 60%;
    height: 100%;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
}

.block-meddle{
    display: flex;
    height: 400px;
    width: 100%;
    background-color: rgb(211, 188, 152);
    border-radius: 30px;
}

.text-right{
    margin-left: 20%;
    font-size: 40px;
    position: relative;
    text-align: center;
    padding-left: 10px;
    bottom: -40px;
    width: 80%;
    height: 100%;
    font-family: "Oswald", sans-serif;
}

.block-bottom{
    margin-top: 40px;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

.block-info{
    margin-left: 20px;
    border-radius: 20px;
    background-color: rgba(80, 80, 80, 0.123);
    width: 25%;
    height: 100%;
    padding: 10px;
}

.block-info:hover{
    position: relative;
    top: 5px;
    cursor: pointer;
}

.header-block-info-a{
    font-family: monospace;
    font-size: 25px;
    height: 30px;
}

.header-block-info-a a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.text-block-info{
    font-family: monospace;
    font-size: 20px;
}

.meddle-block-info{
    margin-top: 40px;
}

.footer{
    margin-top: 40px;
    padding: 20px 40px;
    width: 100%;
    height: 140px;
}

.block-footer{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(223, 200, 171);
    border-radius: 10px;
}

.text-f{
    align-content: center;
    text-align: center;
    height: 100%;
    width: 50%;
}

.text-f a{
    color: #555;
}

.menu-f{
    align-content: center;
    text-align: center;
    height: 100%;
    width: 50%;
}

.menu-f li{
    list-style-type: none;
}

.menu-f a{
    color: rgb(49, 49, 49);
    text-decoration: none;
}

@media screen and (max-width: 1410px) {
    .text-block-info{
        font-size: 12px;
    }

    .text-left span{
        font-size: 30px;
    }

    .text-right span{
        font-size: 30px;
    }
}

@media screen and (max-width: 900px) {
    .text-block-info{
        font-size: 8px;
    }

    .block-bottom{
        height: 300px;
    }

    .text-left{
        width: 90%;
        margin-right: 10%;
    }

    .text-right{
        width: 90%;
        margin-left: 10%;
    }

    .text-left span{
        font-size: 20px;
    }

    .text-right span{
        font-size: 20px;
    }
}

@media screen and (max-width: 625px) {

    .block-info{
        margin: 0 10px 0 10px;
        width: 35%;
    }

    .text-block-info{
        font-size: 7px;
    }

    .block-bottom{
        height: 300px;
    }

    .text-left{
        width: 90%;
        margin-right: 10%;
    }

    .text-right{
        width: 90%;
        margin-left: 10%;
    }

    .text-left span{
        font-size: 20px;
    }

    .text-right span{
        font-size: 20px;
    }
}















